.doneButton {
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: var(--void);
    color: var(--manga);
    padding: 10px 50px;
    border-radius: 10px;
}

@media screen and (min-width: 769px) {
    .doneButton:hover {
        background-color: var(--psybeam);
    }
}
