.scoreReactionBoardPresenter {
    position: absolute;
    background-color: var(--manga);
    width: 98%;
    margin: 1% 1% 0px 1%;
    z-index: 3;
    top: 0;
    max-height: 88vh;
    border-radius: 5px;
    overflow-y: scroll;
}

@media screen and (min-width: 1100px) {
    .scoreReactionBoardPresenter {
        max-height: 87vh;
    }
}
