#landing-section-mid {
    padding: 40px 0px;
}

@media screen and (min-width: 375px) {
    #landing-section-mid {
        padding: 60px 0px;
    }
}

@media screen and (min-width: 769px) {
    #landing-section-mid {
        padding: 80px 0px;
    }
}
