.ratingPopup {
    position: absolute;
    top: 75px;
    background-color: var(--surf);
    width: 98%;
    margin: 1%;
    border-radius: 5px;
    min-height: 90vh;
    z-index: 1;
}

.ratingPopupH2 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    padding: 40px 30px;
}

@media screen and (min-width: 500px) {
    .ratingPopup {
        min-height: 89.5vh;
    }
}

@media screen and (min-width: 769px) {
    .ratingPopup {
        min-height: 89vh;
    }
}

@media screen and (min-width: 1000px) {
    .ratingPopup {
        min-height: 88.5vh;
    }
}

@media screen and (min-width: 1400px) {
    .ratingPopup {
        min-height: 88vh;
    }
}
