#header-img-div {
    cursor: pointer;
}

#header-img {
    width: 100%;
    height: 70px;
    /* border: 1px solid blue; */
}

@media screen and (min-width: 769px) {
    #header-img-div {
        margin-left: 50px;
    }
}

@media screen and (min-width: 1300px) {
    #header-img-div {
        margin-left: 70px;
    }
}
