.searchBar {
    display: flex;
    margin: 10px;
    text-align: center;
}

.inputDiv {
    width: 65%;
}

.inputDiv > input {
    font-size: 20px;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    width: 100%;
    background-color: var(--spark);
}

.buttonDiv {
    width: 35%;
}

.button {
    border: none;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    text-align: center;
    padding: 9px;
    background-color: var(--void);
    color: var(--manga);
}

@media screen and (min-width: 376px) {
    .searchBar {
        margin: 10px 20px;
    }
}

@media screen and (min-width: 426px) {
    .searchBar {
        margin: 10px 30px;
    }
}

@media screen and (min-width: 769px) {
    .searchBar {
        margin: 10px 10%;
    }
}

@media screen and (min-width: 1024px) {
    .searchBar {
        margin: 10px 14%;
    }
}

@media screen and (min-width: 1200px) {
    .searchBar {
        margin: 10px 20%;
    }
    .button {
        cursor: pointer;
    }
}

@media screen and (min-width: 1400px) {
    .searchBar {
        margin: 10px 24%;
    }
}
