.dot {
    width: 15px;
    height: 15px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translate(40px)
            rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg) translate(40px)
            rotate(360deg);
    }
}
