.successMessageDiv {
    background-color: var(--success);
    color: var(--manga);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.errorMessageDiv {
    background-color: var(--error);
    color: var(--manga);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.toastMessageText {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 0px 5px;
}
