.searchSectionDiv {
    min-height: 90vh;
    background-color: var(--surf);
}

.searchSectionH2 {
    text-align: center;
    font-weight: 500;
    font-size: 1.4em;
    padding: 40px 10px 10px 10px;
}
